/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.content,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  margin: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}


@media (max-width: 959px) {
  .container {
    max-width: 960px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
  }
}

.navbar-inverse, .footer {
  background-color: #5E1662 !important;
}

.copyright {
  margin: 15px;
}

a.section {
  color: white;
}

a:hover, a:active, a:visited {
  text-decoration: none;
}

a.section:active {
  color: #5E1662;
}
